.boxed-view {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  border: none;
  padding: 2.4rem;
  text-align: center;
  width: 28rem;
  -webkit-box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
          box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
}

.boxed-view__title {
  font-weight: 700;
}

.boxed-view__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
