.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.button:hover {
  -webkit-box-shadow: 0 18px 32px 0 rgba(0,0,0,.05);
          box-shadow: 0 18px 32px 0 rgba(0,0,0,.05);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
   background-color: transparent;
   border: 1px solid $button-pill-color;
   color: $button-pill-color;
   margin: 0 ($space / 2) 0 0;
   padding: .3rem .8rem;
}

.button--secondary {
  padding: 13px 35px 12px;
  line-height: 14px;
  color: $body-default-color;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  font-weight: 700;
  text-transform: none;
}

.button--secondary:hover {
  background-color: $brand-primary;
  border-color: $brand-primary;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: white;
}

.button--link-text {
  background: white;
  margin: 0;
  padding: 9px 17.5px 8px;
  text-transform: none;
  color: $brand-primary;
  font-weight: 700;
}

.searchButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 14px 0px 14px;
}

.searchButton input {
  width: 100%;
  border-radius: 12.5px;
  -webkit-border-radius: 12.5px;
     -moz-border-radius: 12.5px;
      -ms-border-radius: 12.5px;
       -o-border-radius: 12.5px;
}

.searchButton input:focus {
  @include itemStyle;
}